<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>White Towns of Andalusia</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/spotForm/style.css">
  </head>
  <body>
    <%- include('navbar') %>

    <main class="container-fluid">
      <section class="login spotform">
        <div class="d-flex flex-column">
          <div class="row text-center py-3">
            <h3 class="col-12">Login</h3>
          </div>
          <form
            action="/city/login"
            method="post"
            class="row d-flex"
          >
            <div class="row d-flex justify-content-center mb-3">
              <div class="col-12 col-xl-5">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  name="email"
                  maxlength="100"
                />
              </div>
            </div>
            <div class="row d-flex justify-content-center mb-3">
              <div class="col-12 col-xl-5">
                <label for="password" class="form-label">Password</label>
                <input
                  type="text"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  name="password"
                  maxlength="100"
                />
              </div>
            </div>
            <div class="row d-flex justify-content-center mb-3">
              <div class="col-12 col-xl-5">
                <p style="color: red; font-weight: bold;"><%= typeof message != 'undefined' ? message : null %></p>
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>

    <%- include('footer') %>